body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header  {
  text-align: center;
  display: flex;
  flex-direction: column;
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: bisque;
}
#featured-property {
  text-align: center;
  place-items: center;
}
#featured-property p{
  text-align: center;
  max-width: 800px;
  margin: 10px;
}
#featured-property figure figcaption{
  font-size: smaller;
}
#details{
background-color: orangered;
display: flex;
padding: 20px;
justify-content: space-between;
}
#details div{
  flex: 1;
  margin: 0 10px;
}
#details h3 {
  margin-bottom: 10px; 
  font-size: 18px; 
}

#details p {
  line-height: 1.6;
}

#details a {
  color: blue;
  text-decoration: none; 
}

#details a {
  text-decoration: underline;